body {
  background-color: rgb(64, 60, 60);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  width: 120px;
  height: 100px;
  margin: 20px;
  text-transform: capitalize;
  transition-property: transform;
  transition-duration: 100ms;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.teal {
  background-color: teal;
}

.white {
  background-color: white;
}
